body{
  font-family: 'Poppins', sans-serif;
}
.navigation li{
  display: inline-block;
  list-style: none;
}
.navigation li a{
  color: #fff;
  padding: 10px 20px;
  border-right: 1px solid #ccc;
  display: inline-block;
}
.navigation li a:hover{
  text-decoration: none;
}
.navigation{
  background: #222;
}
/* .hero-banner{
background: url(assets/images/pexels-photo-4458386.jpeg);
height:400px;
background-size: cover;
} */
.navigation ul{
  margin-bottom: 0px;
}
.card{
    text-align: center;
    padding: 20px;
    background: #eee;
    margin-bottom: 20px;
}
.card img{
  margin: auto;
}
.card1{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.card1 img{
  margin: unset;
}
.card img,.card1 img{
  width: 200px;
    height: 200px;
}
.card h2{
  font-size: 22px;
    font-weight: 900;
    line-height: 33px;
}
.card1{
  border-bottom: 1px solid #ccc;
    padding: 20px;
    background: #eee;
    margin-bottom: 30px;
}
.card1 h2{
  font-size: 22px;
}
.carticon{
  color: yellow;
    font-size: 23px;
    cursor: pointer;
}
.navigation li:last-child{
  float: right;
    margin-top: 10px;
}
.loading{
  position: relative;
}
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
  position: absolute;
  right:0;
  top:0;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}

      .hero-banner {
        padding: 0px;
      }
      .hero-banner img{
        width:100%;
      }